{% extends 'base.html' %}
{% block title %}
<title>Добавление товара</title>
{% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
    <h1 class="prewiew">
        Криптоклуб
    </h1>
</div>
<div class="container first-block">
    <div class="row g-0 bg-light border border-dark">
        <div class="p-4 ps-md-0">
          <h5 class="mt-0 text-center">Описание</h5>
          <p class="text-center">Какое-то описание</p>
          <a href="#" class="stretched-link">Sign up</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row bg-light overlay border-top">
        <div class="col-md-6 p-4 m-5">
          <h5 class="mt-0">Columns with stretched link</h5>
          <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
          <a href="#" class="stretched-link">Go somewhere</a>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="align-left p-2 m-5 about">
        <h1>About</h1>
    </div>
    <figure class="parallelogram text-center">
            <h1>
                О нас
            </h1>
            <h3>
                Description about
            </h3>
    </figure>
</div>
{% endblock %}